<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h2>Edit form</h2>
     <form action="/chat/<%= chat._id %>?_method=PUT" method="post">
        <label for="from" >Edit your name</label>
        <input type="text"  placeholder="<%= chat.from %>" name="from" id="from"><br><br>
        <label for="to">Edit name whome you want to send</label>
        <input type="text" placeholder="<%= chat.to %>" name="to" id="to"><br><br>
        <label for="msg">Edit your Massage</label>
        <input type="text" name="msg" placeholder="<%= chat.msg %>" id="msg"><br><br>
        <button type="submit">submit</button>
     </form>
</body>
</html>