<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <form action="/chats"method="post">
        <label for="from">Enter your name</label>
        <input type="text" name="from" id="from"><br><br>
        <label for="to">Enter name whome you want to send</label>
        <input type="text" name="to" id="to"><br><br>
        <label for="msg">Enter your Massage</label>
        <input type="text" name="msg" id="msg"><br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>