h1{
    text-align: center;
    color: #ffa311;
    text-decoration: rgb(0, 255, 255) double underline;
    line-height: 2.5x;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-transform: uppercase;

    

}