*{
    background-color: yellow;
}
#outer{
    
    height: 200px;
    width: 70px;
    border: 2px solid white;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    
}
#bar{
    border: 2px solid white;
    height: 200px;
    width: 70px;
    
}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
}
#red{
    background-color: red;
}
#yello{
    background-color: yellow;
}
#green{
    background-color: green;
}
