<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dice give the number: <%=valu%></h1>
    <% if(valu==6) { %>
        <h1>you did great nice luck</h1>
    <% } %>

</body>
</html>