<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this rener</title>
</head>
<body>
    <h1 style="color: red;">this si the home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus vel animi natus, facere recusandae tempora officia eos placeat laborum adipisci, nihil nesciunt eligendi quia asperiores! Quos labore eos expedita nisi?</p>
    <button style="border: 10px;">click me</button>
</body>
</html>