<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creat a new post</title>
</head>
<body>
      <div>
         <form action="/post" method="post">
            <label for="username">username</label>
            <input type="text" name="username" placeholder="enter your username" ><br><br>
            <textarea name="content" placeholder="write your post"></textarea><br>
            <input type="text" name="Image" placeholder="enter the URL here">
            <button>submit post</button>
         </form>
      </div>
</body>
</html>