<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="post">
        <h4>id : <%= post.id %></h4>
        <h3 class="username">@<%= post.username %></h3><br>
        <h4 class="content"><%= post.content %></h4>
        <img src="<%= post.Image %>" height="200px"width="200px" alt="this is the image">
    </div>
</body>
</html>